<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Portfolio
    </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        h1, h2, h3, .str{color:navy;}
        .center{text-align: center;}
        .back{background-color: honeydew;}
        .left{
            background-color: #b0c4d1;
            float: left;
            margin: 10px;
            width: 380px;
            padding: 30px;}
        .right{
            background-color:papayawhip;
            float: left;
            margin: 10px;
            padding:30px;
        }
        img { display: block; margin: 20px 30px; }

        button {
            color: white;
            background-color: #b0c4d1;
            border-radius: 0.5em;
            border:none;
            height: 30px;
            width: 80px;
        }
    </style>
</head>
<body>
    <div class=left>
        <br><br>
        <img src="{{ url_for('static', filename='img_s.jpg') }}" height="300" alt="photo">
        <br><br>
        <h1>Yoo, Juwon</h1>
        <hr>
        <div>
            <p class="str"><i class="fa-solid fa-house-chimney"></i>  Gwonseon-gu, Suwon-si, Gyeonggi-do, Korea</p>
            <p class="str"><i class="fa-solid fa-phone"></i> +82 10-7900-3512</p> 
            <p class="str"><i class="fa-solid fa-envelope"></i> busker66@daum.net</p>
        </div>
        <br>
        <br>
        <h1>Skills</h1>
        <hr>
        <h3>Languages</h3>
        <p class="str">Korean (fluent)</p>
        <p class="str">English (intermediate)</p>
        <br>
        <h3>Programming & Applications</h3>
        <p class="str">
            Python<br><br>
            Android (Java)<br><br>
            SQL (PostgreSQL, MySQL)<br><br>
            C<br><br>
            HTML, CSS, JavaScript<br><br>
            AWS(EC2)<br><br>
            Azure<br><br>
            MS Office
        </p>
    </div>
    <div class="right">
        <h1 class="center">Education</h1>
        <hr>
        <div style="padding:30px">
            <p class="str">
                <b>Ajou University, Gyeonggi-do, Korea (2016 – 2021)</b><br>
                -	Bachelor of Sociology<br>
                -	Bachelor of Computer Science: Algorithm (A), Data structure (B+), Database(A+)
            </p>
            <p class="str"> 
                <b>Bayreuth University, Bayreuth, Germany (Jul 2019)</b><br>
                -	Summer school, Energy & Climate Class
            </p>
            <p class="str">   
                <b>Linneaus University, Växjö, Sweden (Aug 2018 – Fab 2019)</b><br>
                -	Exchange student in Sociology Major
            </p>
        </div>

        <h1 class="center">Projects</h1>
        <hr>
        <div style="height: 300px;">
            <div class="center" style="float: left;">
                <img src="{{ url_for('static', filename='app.jpg') }}" height="200" alt="app">
                <form action="/detail", method="GET">
                    <button type="submit" name="id", value="1">app</button>
                </form>
            </div>
            <div  class="center" style="float: left;">
                <img src="{{ url_for('static', filename='web.jpg') }}" height="200" alt="web">
                <form action="/detail", method="GET">
                    <button type="submit", name="id", value="2">web</button>
                </form>
            </div>
            <div class="center" style="float: left;">
                <img src="{{ url_for('static', filename='ml.jpg') }}" height="200" alt="ml">
                <form action="/detail", method="GET">
                    <button type="submit", name="id", value="3">ML</button>
                </form>
            </div>
        </div>
            
        <div>
            <h1 class="center">Experience</h1>
        </div>
        <hr>
        <div style="padding:30px">
            <p class="str">
                <b>Green Gym Project (Mar 2021 – Jun 2021)</b><br>
                Android developer, Graduation project<br>
                -	Develop android application and http connection in application<br>
                -	Distribute roles within a team<br><br>
                <b>BICube, Gyeonggi-do, Korea (Jan 2021 – Fab 2021)</b><br>
                Intern, Management Department<br>
                -	Research and give a presentation of artificial intelligence, machine learning technologies<br>
                -	Create a business plan for FVQA technology<br><br>
                <b>Hyosung ITX (NIA), Gyeonggi-do, Korea (Aug 2020 – Dec 2020)</b><br>
                Intern, Gyeonggi 2nd Center<br>
                -	Open public data, quality control, actual measurement and collection work, additional public data-related work<br>
                -	Actively participate in Hackathon and develop web site
            </p>
        </div>
        <h1 class="center">Skills Detail</h1>
        <hr><br>
        <canvas id="myChart"></canvas>

    </div>
</body>
</html>

<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:['python','android','SQL','HTML/CSS'],
        datasets: [{
            label: 'My Level',
            data: [8,6,7,5],
            backgroundColor: [
                'rgba(255, 159, 64, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(153, 102, 255, 0.5)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    